body
  text-align center
  background aliceblue
  width 100%

a
  text-decoration none
  color skyblue

p
  color cornflowerblue
.contenedor
  max-width 600px
  margin-right auto
  margin-left auto
.list
  margin-right auto
  margin-left auto
  padding-left 0

.task-item
  list-style none
  margin 0
  padding 0 0 10px 0

.complete
  background lightskyblue

.linkremove
  margin 0 0 0 53px
  color darkred

.dnone
  display none

.taskcomplete
  display none